<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-housesInfoImg-edit" th:object="${housesInfoImg}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋编码：</label>
				<div class="col-sm-8">
					<input id="housesCode" name="housesCode" th:field="*{housesCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋图片介绍：</label>
				<div class="col-sm-8">
					<input id="housesImg" name="housesImg" th:field="*{housesImg}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">图片存在状态：</label>
				<div class="col-sm-8">
					<input id="housesHide" name="housesHide" th:field="*{housesHide}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "global/housesInfoImg";
		$("#form-housesInfoImg-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-housesInfoImg-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
