<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-serviceCountry-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">国家名称：</label>
				<div class="col-sm-8">
					<input id="scopeOneName" name="scopeOneName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">国家国旗：</label>
				<div class="col-sm-8">
					<input id="scopeTwoIcon" name="scopeTwoIcon" class="form-control" type="hidden">
					<input type="file" accept="image/*" onchange="c(this)">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "global/serviceCountry"
		$("#form-serviceCountry-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-serviceCountry-add').serialize());
	        }
	    }

        function c(v) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                $(v).after('<img style="width: 200px;height: 100px" src="' + evt.target.result + '" />');
            }
            reader.readAsDataURL(v.files[0]);
            var file = v.files[0];//获取文件名
            var formdata = new FormData();
            formdata.append("img", file);
            $.ajax({
                url: ctx + "v1/ftp/fileupload",
                data: formdata,
                type: "post",
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.code == 200) {
                        $.modal.msgSuccess("上传图片成功");
                        // 把成功的链接填充到输入框内
                        $("#scopeTwoIcon").val(result.url)
                    } else {
                        $.modal.alertError("图片上传失败");
                    }
                }
            })
        }

	</script>
</body>
</html>
