<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            房屋编码：<input type="text" name="housesCode"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="global:housesInfo:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="global:housesInfo:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="global:housesInfo:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="global:housesInfo:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('global:housesInfo:edit')}]];
    var removeFlag = [[${@permission.hasPermi('global:housesInfo:remove')}]];
    var prefix = ctx + "global/housesInfo";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "房屋",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'Id',
                    visible: false
                },
                {
                    field: 'housesName',
                    title: '楼盘名字',
                    sortable: true
                },
                {
                    field: 'housesGenre',
                    title: '楼盘类型',
                    sortable: true
                },
                {
                    field: 'housesPrice',
                    title: '楼盘价格',
                    sortable: true
                },
                {
                    field: 'housesPriceType',
                    title: '币种类型',
                    sortable: true
                },
                {
                    field: 'housesBuildDate',
                    title: '建造时间',
                    sortable: true
                },
                {
                    field: 'housesCode',
                    title: '房屋编码',
                    sortable: true
                },
                {
                    field: 'country',
                    title: '国家',
                    sortable: true
                },
                {
                    field: 'city',
                    title: '城市',
                    sortable: true
                },
                {
                    field: 'housesAddress',
                    title: '楼盘地址',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'housesEquity',
                    title: '房屋产权',
                    sortable: true
                },
                {
                    field: 'housesDelivery',
                    title: '交房时间',
                    sortable: true
                },
                {
                    field: 'housesCoverImg',
                    title: '封面图片',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<img style="width: 100px;height: 100px" src=' + row.housesCoverImg + ' alt="..." class="img-rounded">');
                        return actions.join('');
                    }
                },
                {
                    field: 'housesDescribe',
                    title: '房源描述',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'houseDevelopersNo',
                    title: '开发商编码',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a  class="btn btn-success btn-xs ' + editFlag + '"  href="#" onclick="detail(\'' + row.housesCode + '\')"><i class="fa fa-edit"></i>添加户型介绍</a> ');
                        actions.push('<a  class="btn btn-info btn-xs ' + editFlag + '"  href="#" onclick="detailImg(\'' + row.housesCode + '\')"><i class="fa fa-edit"></i>添加楼盘相册</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*房屋介绍-详细*/
    function detail(dictId) {
        var url = prefix + '/detail/' + dictId;
        createMenuItem(url, "房屋信息");
    }

    /*楼盘相册-详细*/
    function detailImg(dictId) {
        var url = prefix + '/detailImg/' + dictId;
        createMenuItem(url, "楼盘相册");
    }
</script>
</body>
</html>