<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-collection-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户编码：</label>
				<div class="col-sm-8">
					<input id="userNo" name="userNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">各个收藏的业务的唯一编码：</label>
				<div class="col-sm-8">
					<input id="businessNo" name="businessNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">业务类型（房屋1001），（资讯1002）：</label>
				<div class="col-sm-8">
					<input id="businessType" name="businessType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">时间：</label>
				<div class="col-sm-8">
					<input id="collectionTime" name="collectionTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "global/collection"
		$("#form-collection-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-collection-add').serialize());
	        }
	    }
	</script>
</body>
</html>
