<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-houseDevelopersInfo-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">开发商名字：</label>
            <div class="col-sm-8">
                <input id="houseDevelopersName" name="houseDevelopersName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司LOGO：</label>
            <div class="col-sm-8">
                <input id="houseDevelopersLogo" name="houseDevelopersLogo" class="form-control" type="hidden">
                <input type="file" accept="image/*" onchange="c(this)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8" style="display: none">
                <input id="houseDevelopersIntroduce" name="houseDevelopersIntroduce" class="form-control" type="text">
            </div>
        </div>
        <div id="editor">

        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script type="text/javascript">
    var prefix = ctx + "global/houseDevelopersInfo"
    $("#form-houseDevelopersInfo-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        readHtml();
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-houseDevelopersInfo-add').serialize());
        }
    }

    function c(v) {
        var reader = new FileReader();
        reader.onload = function (evt) {
            $(v).after('<img style="width: 200px;height: 100px" src="' + evt.target.result + '" />');
        }
        reader.readAsDataURL(v.files[0]);
        var file = v.files[0];//获取文件名
        var formdata = new FormData();
        formdata.append("img", file);
        $.modal.loading("图片上传中");
        $.ajax({
            url: ctx + "v1/ftp/fileupload",
            data: formdata,
            type: "post",
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.code == 200) {
                    $.modal.closeLoading();
                    $.modal.msgSuccess("上传图片成功");
                    // 把成功的链接填充到输入框内
                    $("#houseDevelopersLogo").val(result.url)
                } else {
                    $.modal.alertError("图片上传失败");
                }
            }
        })
    }

    var E = window.wangEditor
    var editor = new E('#editor')
    editor.create()

    // 读取 html
    function readHtml() {
        //把获取的参数赋值在输入框里面
        $("#houseDevelopersIntroduce").val(editor.txt.html());
    }
</script>
</body>
</html>
